@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    background-color: #FFFDD0;
    display: flex;
    flex-direction: column;
}
.hidden-heading {
    display: none;
}
/* headings */
header {
    background-color: #4B3621;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/* Main content */
main {
    background-color: #FFFDD0;
    flex: 1 0 auto;
    margin-top: 80px;
}
p {
    color: #4B3621;
}
h3 {
    color: #4B3621;
}
/* Index welcome text */
.family p {
    margin: 0 10px;
    color: #4B3621;
}
.family h3 {
    margin: 0 10px;
    color: #4B3621;
}
.family li {
    color: #4B3621;
    margin: 0 10px;
}
/* footer */
footer {
    background-color: #4B3621;
}
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 120%;
    padding: 5%;
    color: #FFFDD0;
}
h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #4B3621;
}
/* navigation links */
#menu {
    font-size: 110%;
    background-color: #4B3621;
    color: #FFFDD0;
    box-shadow: 0 2px 2px #CD7F32;
    margin-top: 0;
    padding: 10px 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu li {
    list-style-type: none;
    margin-right: 30px;
    margin-left: 10px;
    display: inline;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
h2 a {
    text-decoration: none;
    color: inherit;
}
.active {
    border-bottom: 1px solid #CD7F32;
}
nav {
    display: inline;
}
/* bees section */
#bees,
#apis,
#queen,
#fly {
    padding: 1rem;
    margin-bottom: 80px;
    margin-left: 20px;
    background-color: #FFFDD0;
    border: 2px solid #CD7F32;
    width: 80%;
}
img {
    height: auto;
    width: 100%;
}
/* contact section */
#maps,
#contact {
    padding: 1rem;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: #FFFDD0;
    border: 2px solid #CD7F32;
    max-width: 80%;
}
.contact-form{
    display: block;
}
#name-field,
#email-field {
    margin: 0 auto;
    height: 25px;
}
h4 {
    color: #4B3621;
    margin-top: 10px;
}
#submit {
    padding: 10px 20px;
}
/* Iframe maps */
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 40%;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .address {
    display: flex;
    text-align: end;
  }
/* honey section */
#lime,
#creamy,
#summer,
#rhob,
#sun {
    padding: 1rem;
    margin-bottom: 80px;
    margin-left: 20px;
    background-color: #FFFDD0;
    border: 2px solid #CD7F32;
    width: 80%;
}
/* bees section */
#apis-box,
#bees-box,
#queen-box,
#fly-box {
    vertical-align: top;
    display: inline-block;
    background-color: #FFFDD0;
    object-fit: contain;
    min-width: 250px;
}
/* Iframe bees video */
.beevideo {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
  }
#beevideo {
    background-color: #FFFDD0;
    object-fit: contain;
    max-width: 80%;
    margin: auto;
}
/* honey section */
#lime-box,
#creamy-box,
#summer-box,
#rhob-box,
#sun-box {
    vertical-align: top;
    display: inline-block;
    background-color: #FFFDD0;
    object-fit: contain;
    min-width: 250px;
}
#image {
    width: 100%;
    text-align: justify;
}
#text {
    text-align: justify;
}

@media screen and (min-width: 768px) {
    /* navigation links */
#menu {
    font-size: 110%;
    margin-top: 0;
    box-shadow: 0 2px 2px #CD7F32;
    padding: 10px 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
#menu li {
    list-style-type: none;
    display: inline;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
main {
    background-color: #FFFDD0;
    flex: 1 0 auto;
    margin-top: 60px;
}
/* bees section */
#bees,
#apis,
#queen,
#fly {
    padding: 1rem;
    margin-bottom: 80px;
    margin-left: 2px;
    background-color: #FFFDD0;
    border: 2px solid #CD7F32;
    display: inline-block;
}
/* contact section */
#maps,
#contact {
    padding: 1rem;
    margin-bottom: 80px;
    margin-left: 2px;
    background-color: #FFFDD0;
    border: 2px solid #CD7F32;
    width: 40%;
    display: inline-block;
}
/* honey section */
#lime,
#creamy,
#summer,
#rhob,
#sun {
    padding: 1rem;
    margin-bottom: 80px;
    margin-left: 2px;
    background-color: #FFFDD0;
    border: 2px solid #CD7F32;
    display: inline-block;
}
.text-brown {
    color: #4B3621;
}
.text-center {
    text-align: justify;
}
/* bees section */
#apis-box,
#bees-box,
#queen-box,
#fly-box {
    vertical-align: top;
    display: inline-block;
    background-color: #FFFDD0;
    object-fit: contain;
    min-width: 40%;
}
/* contact section */
#maps-box,
#contact-box {
    vertical-align: top;
    display: inline-block;
    background-color: #FFFDD0;
    object-fit: contain;
    min-width: 40%;
}
/* honey section */
#lime-box,
#creamy-box,
#summer-box,
#rhob-box,
#sun-box {
    vertical-align: top;
    display: inline-block;
    background-color: #FFFDD0;
    object-fit: contain;
    min-width: 30%;
}
#image {
    text-align: justify;
}
#text {
    text-align: justify;
}
}
@media screen and (min-width: 1024px) {
    /* navigation links */
#menu {
    font-size: 110%;
    margin-top: 0;
    box-shadow: 0 2px 2px #CD7F32;
    padding: 10px 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
#menu li {
    list-style-type: none;
    display: inline;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
main {
    background-color: #FFFDD0;
    flex: 1 0 auto;
    margin-top: 60px;
}
/* bees section */
#bees,
#apis,
#queen,
#fly {
    margin-left: 10px;
    background-color: #FFFDD0;
    border: 2px solid #CD7F32;
    width: 40%;
    display: inline-block;
}
/* contact section */
#maps,
#contact {
    padding: 1rem;
    margin-bottom: 80px;
    margin-left: 10px;
    background-color: #FFFDD0;
    border: 2px solid #CD7F32;
    width: 40%;
    display: inline-block;
}
/* honey section */
#lime,
#creamy,
#summer,
#rhob,
#sun {
    padding: 1rem;
    margin-bottom: 80px;
    margin-left: 10px;
    background-color: #FFFDD0;
    border: 2px solid #CD7F32;
    width: 30%;
    display: inline-block;
}
.text-brown {
    color: #4B3621;
}
.text-center {
    text-align: justify;
}
/* bees section */
#apis-box,
#bees-box,
#queen-box,
#fly-box {
    background-color: #FFFDD0;
    object-fit: contain;
    min-width: 40%;
}
/* contact section */
#maps-box,
#contact-box {
    background-color: #FFFDD0;
    object-fit: contain;
    max-width: 40%;
}
/* honey section */
#lime-box,
#creamy-box,
#summer-box,
#rhob-box,
#sun-box {
    background-color: #FFFDD0;
    object-fit: contain;
    min-width: 30%;
}
#image {
    text-align: justify;
}
#text {
    text-align: justify;
}
}