@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #FFFDD0;
    display: flex;
    flex-direction: column;
}

/* headings */
header {
    background-color: #FFFDD0;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #CD7F32;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #4B3621;
}

/* navigation links */
#menu {
    font-size: 110%;   
}

#menu li {
    list-style-type: none;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
.active {
    border-bottom: 1px solid #CD7F32;
}

nav {
    float: right;
}

/* Main content */
main {
    background-color: #FFFDD0;
    flex: 1 0 auto;
}